.bios_img, .bios_gray {
    height: 100%;
    width: 100%;
}
.bios_img img {
    margin: 0;
    max-height: 30em;
    width: auto;
}
.bios_quote {
    position: absolute;
}
.bios_gray {
    background-color: #e5e5e5;
    margin: 0 0 2em;
    padding: 1em;
}
.bios_gray h2 {
    font-weight: bold;
}
.bios_gray_red {
    background-color: #c1392b;
    color: #ffffff;
    font-size: 0.9em;
}
